@media (min-width: 48em) {
  :root {
    min-height: 0;
    font-size: calc(1rem + ((1vw - 0.48rem) * 0.6944));
  }
}
@media (min-width: 120em) {
  :root {
    font-size: 1.5rem;
  }
}
html {
  --alpha-fg: rgba(41, 72, 159, 0.1);
  --bg: #d0dbea;
  --fg: #29489f;
  scroll-behavior: smooth;
  touch-action: manipulation;
}
html[data-theme="dark"] {
  --alpha-fg: rgba(113, 131, 157, 0.1);
  --bg: #121212;
  --fg: #71839d;
}
html.transition,
html.transition *,
html.transition :after,
html.transition :before {
  -moz-transition: 750ms !important;
  -o-transition: 750ms !important;
  -webkit-transition: 750ms !important;
  transition: 750ms !important;
}
input {
  outline: 0;
  border: 2px solid var(--fg);
  border-right: 0;
  height: 48px;
  width: 22rem;
  transition: 0.25s;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  caret-color: var(--fg);
}
input:checked + label,
label {
  background: var(--fg);
}
ul,
ul li {
  padding: 0;
}
.block,
.button,
label {
  float: left;
}
.button,
.search__text,
a,
a:hover,
body {
  color: var(--fg);
}
.help,
.search__text {
  font-family: PragmataPro, SF mono, monospace;
}
.toggle-container {
  position: absolute;
  left: 50vw;
  display: block;
  padding-top: 93vh;
}
input[type="checkbox"] {
  visibility: hidden;
  height: 0;
  width: 0;
}
label {
  position: relative;
  border-radius: 22px;
  height: 22px;
  width: 40px;
  text-indent: -9999px;
  -moz-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
label:after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  border-radius: 90px;
  background: var(--bg);
  height: 16px;
  width: 16px;
  cursor: default;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
a,
a:hover {
  border-radius: 0.25rem;
}
.button,
.search__text,
body {
  background-color: var(--bg);
}
.button,
.search__text {
  z-index: 99;
  background: 0 0;
}
.help,
body {
  font-style: normal;
}
.help,
.search,
a {
  text-decoration: none;
}
body {
  background-size: cover;
  word-spacing: 0.001em;
  letter-spacing: 0.015em;
  font-family: Sys, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-animation: 2.5s fadein;
  animation: 2.5s fadein;
  -ms-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  text-rendering: optimizeLegibility;
}
h1 {
  margin: 0 1.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: default;
}
.search__text,
a {
  font-size: 0.875rem;
}
a {
  opacity: var(--alpha);
  background-color: rgba(255, 255%, 255%, 0%);
  padding: 0.125rem;
  transition: 0.25s cubic-bezier(0.48, 0.3, 0.64, 1);
}
a:hover {
  opacity: 1;
  background-color: var(--alpha-fg);
  text-shadow: 1px 0 rgba(0, 0%, 0%, 0.1%);
  cursor: default;
}
.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 99.3vw;
  padding: 45vh 0 2rem;
}
.block {
  position: relative;
  word-wrap: normal;
}
#clock,
.search {
  position: absolute;
}
sub a {
  vertical-align: sub;
  font-size: 0.25rem;
}
ul {
  margin: 0.25rem 1.125rem 0;
}
ul li {
  margin-bottom: 0.125rem;
  list-style: none;
}
li img {
  margin: 5px;
  width: 16px;
  vertical-align: middle;
  border-width: 0;
}
#clock {
  bottom: 10px;
  right: 10px;
  font-size: 1em;
}
.search {
  bottom: 55vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s cubic-bezier(0.48, 0.3, 0.64, 1);
}
.search__text {
  position: relative;
  max-width: 20rem;
  box-sizing: border-box;
  padding: 0 0.6rem;
  white-space: pre-wrap;
  text-shadow: 0 0 var(--fg);
  transition: 0.3s cubic-bezier(0.48, 0.3, 0.64, 1);
}
::-webkit-input-placeholder {
  opacity: 0.2;
  color: var(--fg);
}
::-moz-placeholder {
  opacity: 0.2;
  color: var(--fg);
}
:-ms-input-placeholder {
  opacity: 0.2;
  color: var(--fg);
}
::-ms-input-placeholder {
  opacity: 0.2;
  color: var(--fg);
}
::placeholder {
  opacity: 0.2;
  color: var(--fg);
}
:-ms-input-placeholder {
  opacity: 0.2;
  color: var(--fg);
}
::-ms-input-placeholder {
  opacity: 0.2;
  color: var(--fg);
}
.arrow,
.help {
  position: absolute;
  line-height: 18px;
}
.search:focus-within {
  box-shadow: 0 0 10px -1px rgba(41, 72, 159, 0.5);
}
.search__text:focus,
.search__text:hover {
  max-width: 22rem;
}
.button {
  border: 2px solid var(--fg);
  border-left: 0;
  height: 48px;
  width: 50px;
  font-size: 18px;
  cursor: default;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.help {
  z-index: 1060;
  bottom: 3rem;
  left: 0;
  opacity: 0;
  display: inline-block;
  border: 0;
  border-radius: 10px;
  background: var(--fg);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 16px;
  word-spacing: normal;
  white-space: pre;
  text-transform: none;
  letter-spacing: normal;
  font-size: 12px;
  color: var(--bg);
  -o-transition: 3s cubic-bezier(0.42, 0, 0.58, 1) infinite floating;
  transition: 0.4s cubic-bezier(0.48, 0.3, 0.64, 1);
  -moz-animation: 3s cubic-bezier(0.42, 0, 0.58, 1) infinite floating;
  -webkit-animation: 3s cubic-bezier(0.42, 0, 0.58, 1) infinite floating;
  animation: 3s cubic-bezier(0.42, 0, 0.58, 1) infinite floating;
  box-shadow: 0 5px 15px -1px rgba(0, 0, 0, 0.25);
  -moz-column-count: 2;
  column-count: 2;
  text-align: left;
}
.arrow {
  font-size: 32px;
  color: var(--fg);
}
.help > .arrow {
  bottom: -18px;
  left: 25%;
  margin-left: -11px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes floating {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  45%,
  55% {
    transform: translate3d(0, -5%, 0);
  }
}
@keyframes floating {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  45%,
  55% {
    transform: translate3d(0, -5%, 0);
  }
}
