@media (min-width:48em) {
  :root {
    font-size: calc(1rem + ((1vw - .48rem) * .6944));
    min-height: 0;
  }
}
@media (min-width:120em) {
  :root {
    font-size: 1.5rem;
  }
}
input:checked + label,
label {
  background: var(--fg);
}
ul,
ul li {
  padding: 0;
}
.block,
.button,
label {
  float: left;
}
.button,
.search__text,
a,
a:hover,
body {
  color: var(--fg);
}
.help,
.search__text {
  font-family: PragmataPro,SF mono,monospace;
}
html {
  --alpha-fg: rgba(41, 72, 159, 0.1);
  --bg: #d0dbea;
  --fg: #29489f;
  scroll-behavior: smooth;
  touch-action: manipulation;
}
html[data-theme=dark] {
  --alpha-fg: rgba(113, 131, 157, 0.1);
  --bg: #121212;
  --fg: #71839d;
}
.toggle-container {
  display: block;
  left: 50vw;
  padding-top: 93vh;
  position: absolute;
}
input[type=checkbox] {
  height: 0;
  visibility: hidden;
  width: 0;
}
label {
  border-radius: 22px;
  -moz-box-shadow: inset 0 0 5px 0 rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0,0,0,.5);
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,.5);
  height: 22px;
  position: relative;
  text-indent: -9999px;
  width: 40px;
}
label:after {
  background: var(--bg);
  border-radius: 90px;
  content: "";
  cursor: default;
  height: 16px;
  left: 3px;
  position: absolute;
  top: 3px;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  width: 16px;
}
input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
html.transition,
html.transition *,
html.transition :after,
html.transition :before {
  -moz-transition: 750ms !important;
  -webkit-transition: 750ms !important;
  transition: 750ms !important;
}
a,
a:hover {
  border-radius: .25rem;
}
.button,
.search__text,
body {
  background-color: var(--bg);
}
.button,
.search__text {
  background: 0 0;
  z-index: 99;
}
.help,
body {
  font-style: normal;
}
.help,
.search,
a {
  text-decoration: none;
}
body {
  -webkit-animation: 2.5s fadein;
  animation: 2.5s fadein;
  background-size: cover;
  font-family: Sys,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  letter-spacing: .015em;
  text-rendering: geometricPrecision;
  text-rendering: optimizeLegibility;
  word-spacing: .001em;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1 {
  cursor: default;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 1.25rem;
}
.search__text,
a {
  font-size: .875rem;
}
a {
  background-color: rgba(255,255%,255%,0%);
  opacity: var(--alpha);
  padding: .125rem;
  transition: .25s cubic-bezier(.48,.3,.64,1);
}
a:hover {
  background-color: var(--alpha-fg);
  cursor: default;
  opacity: 1;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}
.flex-center {
  display: flex;
  justify-content: center;
  padding: 45vh 0 2rem;
  position: absolute;
  width: 99.3vw;
}
.block {
  position: relative;
  word-wrap: normal;
}
#clock,
.search {
  position: absolute;
}
sub a {
  font-size: .25rem;
  vertical-align: sub;
}
ul {
  margin: .25rem 1.125rem 0;
}
ul li {
  list-style: none;
  margin-bottom: .125rem;
}
li img {
  border-width: 0;
  margin: 5px;
  vertical-align: middle;
  width: 16px;
}
#clock {
  bottom: 10px;
  font-size: 1em;
  right: 10px;
}
.search {
  border-radius: 10px;
  bottom: 55vh;
  display: flex;
  justify-content: center;
  left: 50vw;
  transform: translate(-50%,-50%);
  transition: .3s cubic-bezier(.48,.3,.64,1);
}
.search__text {
  box-sizing: border-box;
  max-width: 20rem;
  padding: 0 .6rem;
  position: relative;
  text-shadow: 0 0 var(--fg);
  transition: .3s cubic-bezier(.48,.3,.64,1);
  white-space: pre-wrap;
}
::-webkit-input-placeholder {
  color: var(--fg);
  opacity: .2;
}
::-moz-placeholder {
  color: var(--fg);
  opacity: .2;
}
:-ms-input-placeholder {
  color: var(--fg);
  opacity: .2;
}
::-ms-input-placeholder {
  color: var(--fg);
  opacity: .2;
}
::placeholder {
  color: var(--fg);
  opacity: .2;
}
:-ms-input-placeholder {
  color: var(--fg);
  opacity: .2;
}
::-ms-input-placeholder {
  color: var(--fg);
  opacity: .2;
}
.arrow,
.help {
  line-height: 18px;
  position: absolute;
}
.search:focus-within {
  box-shadow: 0 0 10px -1px rgba(41,72,159,.5);
}
.search__text:focus,
.search__text:hover {
  max-width: 22rem;
}
.button {
  border: 2px solid var(--fg);
  border-bottom-right-radius: 10px;
  border-left: 0;
  border-top-right-radius: 10px;
  cursor: default;
  font-size: 18px;
  height: 48px;
  width: 50px;
}
.help {
  -moz-animation: 3s cubic-bezier(.42,0,.58,1) infinite floating;
  -webkit-animation: 3s cubic-bezier(.42,0,.58,1) infinite floating;
  animation: 3s cubic-bezier(.42,0,.58,1) infinite floating;
  background: var(--fg);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  border-radius: 10px;
  bottom: 3rem;
  box-shadow: 0 5px 15px -1px rgba(0,0,0,.25);
  color: var(--bg);
  -moz-column-count: 2;
       column-count: 2;
  display: inline-block;
  font-size: 12px;
  left: 0;
  letter-spacing: normal;
  opacity: 0;
  padding: 16px;
  text-align: left;
  text-transform: none;
  transition: .4s cubic-bezier(.48,.3,.64,1);
  white-space: pre;
  word-spacing: normal;
  z-index: 1060;
}
@-webkit-keyframes floating {
  0%,
  100% {
    transform: translate3d(0,0,0);
  }
  45%,
  55% {
    transform: translate3d(0,-5%,0);
  }
}
@keyframes floating {
  0%,
  100% {
    transform: translate3d(0,0,0);
  }
  45%,
  55% {
    transform: translate3d(0,-5%,0);
  }
}
.arrow {
  color: var(--fg);
  font-size: 32px;
}
.help > .arrow {
  bottom: -18px;
  left: 25%;
  margin-left: -11px;
}
input {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--fg);
  border-bottom-left-radius: 10px;
  border-right: 0;
  border-top-left-radius: 10px;
  caret-color: var(--fg);
  height: 48px;
  outline: 0;
  transition: .25s;
  width: 22rem;
}
