html {
  --fg: #29489f;
  --bg: #d0dbea
}
html[data-theme=dark] {
  --fg: #71839d;
  --bg: #121212
}
:root,
html {
  font-size: 16px;
  scroll-behavior: smooth
}
@media screen and (min-width:320px) {
  :root,
  html {
    font-size: calc(16px + 6 * ((100vw - 320px)/ 680))
  }
}
@media screen and (min-width:1280px) {
  :root,
  html {
    font-size: 23px
  }
}
.toggle-container {
  position: absolute;
  display: block;
  padding-top: 2rem;
  left:50vw;
}
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--fg);
  float: left;
  border-radius: 100px;
  position: relative
}
label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--bg);
  border-radius: 90px;
  transition: .3s
}
input:checked + label {
  background: var(--fg)
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%)
}
label:active:after {
  width: 45px
}
html.transition,
html.transition *,
html.transition :after,
html.transition :before {
  transition: all 750ms!important;
  transition-delay: 0!important
}
a,
a:hover {
  border-radius: .25rem
}
.button,
.search__text,
body {
  background-color: var(--bg)
}
.button,
a:hover,
h1 {
  cursor: default
}
.help,
body {
  font-style: normal
}
.help,
.search,
a {
  text-decoration: none
}
body {
  color: var(--fg);
  background-size: cover;
  font-family: Sys,Untitled Sans,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 300;
  word-spacing: 0;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
  -ms-animation: fadein 2.5s;
  -o-animation: fadein 2.5s;
  animation: fadein 2.5s
}
@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
h1 {
  font: inherit;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 1.25rem 0 1.25rem
}
.search__text,
a {
  font-size: .875rem;
  color: var(--fg)
}
a {
  background-color: rgba(255,255%,255%,0%);
  opacity: .8;
  padding: .125rem;
  -webkit-transition: .25s cubic-bezier(.48,.3,.64,1);
  transition: .25s cubic-bezier(.48,.3,.64,1)
}
a:hover {
  text-shadow: 1px 0 rgba(0,0%,0%,.1%);
  color: var(--bg);
  background-color: var(--fg);
  opacity: 1
}
.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 99.3vw;
  padding: 40vh 0 2rem 0
}
.block {
  position: relative;
  float: left;
  word-wrap: normal
}
sub a {
  vertical-align: sub;
  font-size: .25rem
}
ul {
  padding: 0;
  margin: .25rem 1.125rem 0 1.125rem
}
ul li {
  padding: 0;
  list-style: none;
  margin-bottom: .125rem
}
li img {
  width: 16px;
  border-width: 0;
  margin: 5px;
  vertical-align: middle
}
#clock {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1em
}
.search {
  position: absolute;
  bottom: 60vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center
}
.search__text {
  font-family: PragmataPro,monospace;
  white-space: pre-wrap;
  text-shadow: 0 0 var(--fg);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 10rem;
  -webkit-transition: .3s cubic-bezier(.48,.3,.64,1);
  transition: .3s cubic-bezier(.48,.3,.64,1);
  z-index: 99;
  padding: .5rem
}
.arrow,
.help {
  line-height: 18px;
  position: absolute
}
.search__text:focus,
.search__text:hover {
  max-width: 16rem
}
.button {
  z-index: 99;
  float: left;
  color: var(--fg);
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid var(--fg);
  border-left: 0
}
.help {
  left: 0;
  z-index: 1060;
  font-size: 12px;
  font-family: PragmataPro,monospace;
  color: var(--bg);
  background: var(--fg);
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: pre;
  text-align: left;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 0;
  display: inline-block;
  column-count: 2;
  border: 0;
  bottom: 2.5rem;
  padding: 16px;
  border-radius: 10px;
  -webkit-transition: .4s cubic-bezier(.48,.3,.64,1);
  transition: .4s cubic-bezier(.48,.3,.64,1);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  animation: 3s cubic-bezier(.42,0,.58,1) infinite floating;
  -webkit-animation: 3s cubic-bezier(.42,0,.58,1) infinite floating
}
@keyframes floating {
  0%,
  100% {
    transform: translate3d(0,0,0)
  }
  45%,
  55% {
    transform: translate3d(0,-5%,0)
  }
}
.arrow {
  color: var(--fg);
  font-size: 32px
}
.help > .arrow {
  bottom: -18px;
  left: 25%;
  margin-left: -11px
}
input {
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid var(--fg);
  border-right: 0;
  outline: 0;
  -webkit-appearance: none;
  caret-color: var(--fg);
  -webkit-transition: .25s ease;
  transition: .25s ease
}
